.token-expired-overlay-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 0.5 */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .token-expired-box-admin {
    background-color: white;
    padding: 26px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .token-expired-box-admin p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .token-expired-box-admin button {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #34acc5;
    color: #fff;
    border-radius: 20px;
  }
  
  .token-expired-box-admin button:hover {
    background-color: #428997;
  }
